/target/
/.idea
/*.iml
/.classpath
/.settings/
/.project
/.DS_Store
/src/test/java/performance_test
/src/test/java/draft_index
/src/test/java/insertDB
/src/test/java/kryo
/src/main/java/ai/preferred/cerebro/core
